# ignore folder containing datasets, models & other outputs
datasets/ftINIT/*
datasets/sMOMENT/*
datasets/validation/*
models/*
outputs/*
model_validation/validation_data/*
model_validation/ftINIT_model_comparison.ipynb
model_validation/pathway_flux_comparison.ipynb
model_validation/sMOMENT_model_test.ipynb
ftINIT/ftINIT_workflow_melanocytes
ftINIT/ftINIT_workflow_A375.m

# ignore cache files created by sMOMENT
sMOMENT/_cache
sMOMENT/create_sMOMENT_model_terminal.txt
